<%- include('../partials/admin/header.ejs') %>
  <main class="principal container">
    <article class="sections-items">      
        <section class="section-item">
          <a href="/admin/clientes">
            <i class="fas fa-users"></i> Clientes
          </a>
        </section>
        <section class="section-item">
          <a href="/admin/servicos">
            <i class="fab fa-servicestack"></i> Serviços
          </a>
        </section>
        <section class="section-item">
          <a href="/admin/funcionarios">
            <i class="fas fa-user-tie"></i> Funcionários
          </a>
        </section>
        <section class="section-item">
          <a href="/admin/artigos">
            <i class="fas fa-newspaper"></i> Artigos
          </a>
        </section>
    </article>
  </main>
<%- include('../partials/admin/footer.ejs') %>