<%- include('../../partials/admin/header.ejs') %>
<main class="principal container">
  <hgroup>
    <h2>Funcionário</h2>
    <h3>Informações do funcionário</h3>
  </hgroup>
  <hr class="horizontal-bar">
  <article class="funcionario-info">
    Nome:
    <p>Nome do funcionário</p>

    Data de nascimento:
    <p>Data de nascimento</p>

    Email:
    <p>Email do funcionário.</p>

    Setor:
    <p>Setor do funcionário.</p>

    Cargo:
    <p>Cargo do funcionário.</p>

    Telefone:
    <p>Telefone do funcionário.</p>

    Celular:
    <p>Celular do funcionário.</p>

    Localização/Cidade:
    <p>Localização/Cidade do funcionário.</p>

    Endereço:
    <p>Endereço do funcionário.</p>

    Informações adicionais:
    <p>Informações adicionais do funcionário.</p>

    CPF:
    <p>CPF do funcionário.</p>

    <a href="/admin/funcionarios" class="btn btn-info btn-right">Voltar</a>
  </article>
</main>
<%- include('../../partials/admin/footer.ejs') %>