<div class="banner container text-center">
  <div class="title">
    <h2 class="color-white">OUSE INOVAR!!</h2>
    <h3 class="color-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. A quam, obcaecati sit. Odit fugiat nobis quis libero reiciendis officiis enim?</h3>
  </div>
  <hgroup class="buttons">
    <button class="btn-cadastrar banner-buttons br-7 mt-2 color-black bg-white">Cadastrar <i class="fas fa-arrow-circle-right"></i></button>
    <button class="btn-sobre banner-buttons br-7 mt-2 bg-black color-white">Sobre <i class="far fa-question-circle"></i></button>
  </hgroup>
</div>