<%- include('partials/header.ejs') %>
  <main class="principal container">
    <hgroup>
      <h2>Blog</h2>
      <h3>Nossos artigos...</h3>
    </hgroup>
    <hr class="horizontal-bar">
    <article class="artigos">
      <section class="artigo br-7">
        <h1 class="title">Título do artigo</h1>
        <div class="text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus tellus nec magna fringilla fringilla. Duis luctus ipsum metus, nec condimentum erat ullamcorper in. Praesent rhoncus ipsum eu urna scelerisque bibendum. Pellentesque ut faucibus metus. Aenean rutrum orci vitae volutpat sagittis. Vivamus ac congue risus, in dictum est. Etiam finibus tempor tellus, eget interdum tellus ultrices in. Proin ac velit magna.</p>
          <p>Maecenas gravida tristique felis, nec mattis augue mattis a. Donec dictum rhoncus ornare. Ut blandit vestibulum sapien, et bibendum enim mollis id. Suspendisse magna purus, dignissim eget ipsum ut, scelerisque bibendum diam. Morbi finibus turpis et erat pharetra, ac viverra odio vestibulum. Fusce placerat luctus lobortis. Nullam vel elit fringilla, venenatis velit quis, commodo dui. Quisque finibus lacus in tristique malesuada. Morbi efficitur, est a dapibus pharetra, massa nulla venenatis leo, sed congue dolor nunc eget lorem. Cras feugiat ligula vitae nisl sollicitudin, interdum viverra metus lobortis. Proin non tellus at purus porttitor vulputate.</p>
        </div>
        <a href="#"><i class="fab fa-blogger-b"></i> Leia mais...</a>
      </section>
      <section class="artigo br-7">
        <h1 class="title">Título do artigo</h1>
        <div class="text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus tellus nec magna fringilla fringilla. Duis luctus ipsum metus, nec condimentum erat ullamcorper in. Praesent rhoncus ipsum eu urna scelerisque bibendum. Pellentesque ut faucibus metus. Aenean rutrum orci vitae volutpat sagittis. Vivamus ac congue risus, in dictum est. Etiam finibus tempor tellus, eget interdum tellus ultrices in. Proin ac velit magna.</p>
          <p>Maecenas gravida tristique felis, nec mattis augue mattis a. Donec dictum rhoncus ornare. Ut blandit vestibulum sapien, et bibendum enim mollis id. Suspendisse magna purus, dignissim eget ipsum ut, scelerisque bibendum diam. Morbi finibus turpis et erat pharetra, ac viverra odio vestibulum. Fusce placerat luctus lobortis. Nullam vel elit fringilla, venenatis velit quis, commodo dui. Quisque finibus lacus in tristique malesuada. Morbi efficitur, est a dapibus pharetra, massa nulla venenatis leo, sed congue dolor nunc eget lorem. Cras feugiat ligula vitae nisl sollicitudin, interdum viverra metus lobortis. Proin non tellus at purus porttitor vulputate.</p>
        </div>
        <a href="#"><i class="fab fa-blogger-b"></i> Leia mais...</a>
      </section>
      <section class="artigo br-7">
        <h1 class="title">Título do artigo</h1>
        <div class="text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus tellus nec magna fringilla fringilla. Duis luctus ipsum metus, nec condimentum erat ullamcorper in. Praesent rhoncus ipsum eu urna scelerisque bibendum. Pellentesque ut faucibus metus. Aenean rutrum orci vitae volutpat sagittis. Vivamus ac congue risus, in dictum est. Etiam finibus tempor tellus, eget interdum tellus ultrices in. Proin ac velit magna.</p>
          <p>Maecenas gravida tristique felis, nec mattis augue mattis a. Donec dictum rhoncus ornare. Ut blandit vestibulum sapien, et bibendum enim mollis id. Suspendisse magna purus, dignissim eget ipsum ut, scelerisque bibendum diam. Morbi finibus turpis et erat pharetra, ac viverra odio vestibulum. Fusce placerat luctus lobortis. Nullam vel elit fringilla, venenatis velit quis, commodo dui. Quisque finibus lacus in tristique malesuada. Morbi efficitur, est a dapibus pharetra, massa nulla venenatis leo, sed congue dolor nunc eget lorem. Cras feugiat ligula vitae nisl sollicitudin, interdum viverra metus lobortis. Proin non tellus at purus porttitor vulputate.</p>
        </div>
        <a href="#"><i class="fab fa-blogger-b"></i> Leia mais...</a>
      </section>
      <section class="artigo">
        <h1 class="title">Título do artigo</h1>
        <div class="text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus tellus nec magna fringilla fringilla. Duis luctus ipsum metus, nec condimentum erat ullamcorper in. Praesent rhoncus ipsum eu urna scelerisque bibendum. Pellentesque ut faucibus metus. Aenean rutrum orci vitae volutpat sagittis. Vivamus ac congue risus, in dictum est. Etiam finibus tempor tellus, eget interdum tellus ultrices in. Proin ac velit magna.</p>
          <p>Maecenas gravida tristique felis, nec mattis augue mattis a. Donec dictum rhoncus ornare. Ut blandit vestibulum sapien, et bibendum enim mollis id. Suspendisse magna purus, dignissim eget ipsum ut, scelerisque bibendum diam. Morbi finibus turpis et erat pharetra, ac viverra odio vestibulum. Fusce placerat luctus lobortis. Nullam vel elit fringilla, venenatis velit quis, commodo dui. Quisque finibus lacus in tristique malesuada. Morbi efficitur, est a dapibus pharetra, massa nulla venenatis leo, sed congue dolor nunc eget lorem. Cras feugiat ligula vitae nisl sollicitudin, interdum viverra metus lobortis. Proin non tellus at purus porttitor vulputate.</p>
        </div>
        <a href="#"><i class="fab fa-blogger-b"></i> Leia mais...</a>
      </section>
    </article>
  </main>
<%- include('partials/newsletter.ejs') %>
<%- include('partials/footer.ejs') %>