<%- include('header.ejs') %>
  <main class="principal container">
    <h2>Clientes</h2>
    <h3>Entre os nossos clientes, estão:</h3>
  </main>
<%- include('newsletter.ejs') %>
<%- include('footer.ejs') %>