<%- include('partials/header.ejs') %>
<main class="principal container">
  <hgroup>
    <h2>Clientes</h2>
    <h3>Entre os nossos clientes, estão:</h3>
  </hgroup>
  <hr class="horizontal-bar">
  <article class="clientes">
    <section class="cliente bg-white br-7">
      <a href="#">
        <img src="img/clientes/cliente_1.png" alt="Logo do cliente 1">
      </a>
    </section>
    <section class="cliente bg-white br-7">
      <a href="#">
        <img src="img/clientes/cliente_2.png" alt="Logo do cliente 2">
      </a>
    </section>
    <section class="cliente bg-white br-7">
      <a href="#">
        <img src="img/clientes/cliente_3.png" alt="Logo do cliente 3">
      </a>
    </section>
  </article>
</main>
<%- include('partials/newsletter.ejs') %>
<%- include('partials/footer.ejs') %>