<%- include('header.ejs') %>
  <main class="principal container">
    <hgroup>
      <h2>Contatos</h2>
      <h3>Fale conosco...</h3>
    </hgroup>
    <hr class="horizontal-bar"></hr>
  </main>
<%- include('newsletter.ejs') %>
<%- include('footer.ejs') %>