<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Agência especializada em Marketing Digital, Criação de Sites e Aplicativos Mobile.">
  <meta name="keywords" content="Agência digital, Marketing, Sites">

  <!-- Como os motores de buscas indexaram a página. Neste caso, o index e os links que for encontrado na index -->
  <meta name="robots" content="index,follow">

  <meta name="author" content="Hugo da Rocha">
  <link rel="icon" href="/img/icon.ico">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

  <!-- Google Font: Lato -->
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">

  <!-- Estilo interno -->
  <link rel="stylesheet" href="css/style.css">

  <title>NodeProp - Especializada em Soluções Digitais</title>
</head>
<body>
  <!-- Cabeçalho -->

  <header class="cabecalho container">
    <a href="/"><h1 class="logo">NodeProp - Especializada em Soluções Digitais</h1></a>
    <button class="btn-menu cabecalho-buttons bg-gradient"><i class="fas fa-bars fa-lg"></i></button>
    <%- include('navbar.ejs') %>
  </header>