<%- include('header.ejs') %>
  <div class="banner container text-center">
    <div class="title">
      <h2 class="color-white">OUSE INOVAR!!</h2>
      <h3 class="color-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. A quam, obcaecati sit. Odit fugiat nobis quis libero reiciendis officiis enim?</h3>
    </div>
    <div class="buttons">
      <button class="btn-cadastrar banner-buttons br-7 mt-2 color-black bg-white">Cadastrar <i class="fas fa-arrow-circle-right"></i></button>
      <button class="btn-sobre banner-buttons br-7 mt-2 bg-black color-white">Sobre <i class="far fa-question-circle"></i></button>
    </div>
  </div>

  <!-- Corpo -->

  <main class="servicos container">
    <article class="servico bg-white br-7">
      <a href="#"><img src="img/criacoes.jpg" alt="Campanhas Publicitárias"></a>
      <div class="inner">
        <a href="#">Campanhas Publicitárias</a>
        <h4 class="color-black mt-2">Impressos, VTs e Jingles</h4>
        <p class="color-black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil praesentium odit culpa blanditiis laudantium consectetur magni dignissimos quibusdam beatae aliquid illo, dolorem quasi! Natus perspiciatis qui, magnam voluptate repudiandae blanditiis.</p>
      </div>
    </article>
    <article class="servico bg-white br-7">
      <a href="#"><img src="img/md.jpg" alt="Marketing Digital"></a>
      <div class="inner">
        <a href="#">Marketing Digital</a>
        <h4 class="color-black mt-2">Administração de Redes Sociais</h4>
        <p class="color-black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil praesentium odit culpa blanditiis laudantium consectetur magni dignissimos quibusdam beatae aliquid illo, dolorem quasi! Natus perspiciatis qui, magnam voluptate repudiandae blanditiis.</p>
      </div>
    </article>
    <article class="servico bg-white br-7">
      <a href="#"><img src="img/cs.jpg" alt="Criação de Sites"></a>
      <div class="inner">
        <a href="#">Criação de Sites</a>
        <h4 class="color-black mt-2">Sites Administráveis</h4>
        <p class="color-black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil praesentium odit culpa blanditiis laudantium consectetur magni dignissimos quibusdam beatae aliquid illo, dolorem quasi! Natus perspiciatis qui, magnam voluptate repudiandae blanditiis.</p>
      </div>
    </article>
  </main>

  <!-- Newsletter -->

  <section class="newsletter container bg-black text-center">
    <h2 class="color-white">Inscreva-se agora!</h2>
    <h3 class="color-white">Receba novidades, dicas e muito mais</h3>
    <form method="POST" class="mt-2">
      <input type="email" name="email" placeholder="Seu email" class="bg-black color-white br-7">
      <button class="color-black bg-white br-7 mt-2">Cadastrar</button>
    </form>
  </section>

  <!-- Footer -->
  <footer class="rodape container bg-gradient text-center">
    <div class="social-icons">
      <a href="#" class="btn-facebook"><i class="fab fa-facebook fa-lg"></i></a>
      <a href="#" class="btn-twitter"><i class="fab fa-twitter fa-lg"></i></a>
      <a href="#" class="btn-google"><i class="fab fa-google fa-lg"></i></a>
      <a href="#" class="btn-instagram"><i class="fab fa-instagram fa-lg"></i></a>
      <a href="#" class="btn-envelope"><i class="far fa-envelope fa-lg"></i></a>
    </div>
    <p class="copyright mt-2">
      Copyright &copy; NodeProp 2021. Todos os direitos reservados.
    </p>
  </footer>

  <!-- SCRIPTS -->
  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-1.12.0.js" integrity="sha256-yFU3rK1y8NfUCd/B4tLapZAy9x0pZCqLZLmFL3AWb7s=" crossorigin="anonymous"></script>
  <script>
    // Mostra o menu quando o botão btn-menu é clicado
    $(".btn-menu").click(function () {
      $(".menu").show()
    })

    // Esconde o menu quando o botão btn-close é clicado
    $(".btn-close").click(function() {
      $(".menu").hide()
    })
  </script>
</body>
</html>