<nav class="menu">
  <button class="btn-close cabecalho-buttons"><i class="fas fa-times fa-lg"></i></button>
  <ul class="text-center">
    <li><a href="/" class="color-white">Home</a></li>
    <li><a href="/clientes" class="color-white">Clientes</a></li>
    <li><a href="/servicos" class="color-white">Serviços</a></li>
    <li><a href="/blog" class="color-white">Blog</a></li>
    <li><a href="/quem-somos" class="color-white">Quem somos</a></li>
    <li><a href="/contatos" class="color-white">Contatos</a></li>
  </ul>
</nav>