<%- include('partials/header.ejs') %>
  <main class="principal container">
    <hgroup>
      <h2>Quem somos?</h2>
      <h3>Sobre nós</h3>
    </hgroup>
    <hr class="horizontal-bar">
    <article class="about br-7">
      <figure>
        <img src="/img/quem_somos/quem_somos_1.png" class="br-7">
        <figcaption>Empresa no ano de 2010. &copy;</figcaption>
      </figure>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc 
      finibus tellus nec magna fringilla fringilla. Duis luctus ipsum 
      metus, nec condimentum erat ullamcorper in. Praesent rhoncus ipsum 
      eu urna scelerisque bibendum. Pellentesque ut faucibus metus. 
      Aenean rutrum orci vitae volutpat sagittis. Vivamus ac congue 
      risus, in dictum est. Etiam finibus tempor tellus, eget interdum 
      tellus ultrices in. Proin ac velit magna.</p>
      <p>Maecenas gravida tristique felis, nec mattis augue mattis a. Donec 
      dictum rhoncus ornare. Ut blandit vestibulum sapien, et bibendum 
      enim mollis id. Suspendisse magna purus, dignissim eget ipsum ut, 
      scelerisque bibendum diam. Morbi finibus turpis et erat pharetra, 
      ac viverra odio vestibulum. Fusce placerat luctus lobortis. Nullam 
      vel elit fringilla, venenatis velit quis, commodo dui. Quisque 
      finibus lacus in tristique malesuada. Morbi efficitur, est a 
      dapibus pharetra, massa nulla venenatis leo, sed congue dolor nunc 
      eget lorem. Cras feugiat ligula vitae nisl sollicitudin, interdum 
      viverra metus lobortis. Proin non tellus at purus porttitor 
      vulputate.</p>
      <figure>
        <img src="/img/quem_somos/quem_somos_2.png" class="br-7">
        <figcaption>Empresa no ano de 2010. &copy;</figcaption>
      </figure>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc 
      finibus tellus nec magna fringilla fringilla. Duis luctus ipsum 
      metus, nec condimentum erat ullamcorper in. Praesent rhoncus ipsum 
      eu urna scelerisque bibendum. Pellentesque ut faucibus metus. 
      Aenean rutrum orci vitae volutpat sagittis. Vivamus ac congue 
      risus, in dictum est. Etiam finibus tempor tellus, eget interdum 
      tellus ultrices in. Proin ac velit magna.</p>
      <p>Maecenas gravida tristique felis, nec mattis augue mattis a. Donec 
      dictum rhoncus ornare. Ut blandit vestibulum sapien, et bibendum 
      enim mollis id. Suspendisse magna purus, dignissim eget ipsum ut, 
      scelerisque bibendum diam. Morbi finibus turpis et erat pharetra, 
      ac viverra odio vestibulum. Fusce placerat luctus lobortis. Nullam 
      vel elit fringilla, venenatis velit quis, commodo dui. Quisque 
      finibus lacus in tristique malesuada. Morbi efficitur, est a 
      dapibus pharetra, massa nulla venenatis leo, sed congue dolor nunc 
      eget lorem. Cras feugiat ligula vitae nisl sollicitudin, interdum 
      viverra metus lobortis. Proin non tellus at purus porttitor 
      vulputate.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc 
      finibus tellus nec magna fringilla fringilla. Duis luctus ipsum 
      metus, nec condimentum erat ullamcorper in. Praesent rhoncus ipsum 
      eu urna scelerisque bibendum. Pellentesque ut faucibus metus. 
      Aenean rutrum orci vitae volutpat sagittis. Vivamus ac congue 
      risus, in dictum est. Etiam finibus tempor tellus, eget interdum 
      tellus ultrices in. Proin ac velit magna.</p>
      <p>Maecenas gravida tristique felis, nec mattis augue mattis a. Donec 
      dictum rhoncus ornare. Ut blandit vestibulum sapien, et bibendum 
      enim mollis id. Suspendisse magna purus, dignissim eget ipsum ut, 
      scelerisque bibendum diam. Morbi finibus turpis et erat pharetra, 
      ac viverra odio vestibulum. Fusce placerat luctus lobortis. Nullam 
      vel elit fringilla, venenatis velit quis, commodo dui. Quisque 
      finibus lacus in tristique malesuada. Morbi efficitur, est a 
      dapibus pharetra, massa nulla venenatis leo, sed congue dolor nunc 
      eget lorem. Cras feugiat ligula vitae nisl sollicitudin, interdum 
      viverra metus lobortis. Proin non tellus at purus porttitor 
      vulputate.</p>
    </article>
  </main>
<%- include('partials/newsletter.ejs') %>
<%- include('partials/footer.ejs') %>