<%- include('partials/header.ejs') %>
  <main class="principal container">
    <hgroup>
      <h2>Quem somos?</h2>
      <h3>Sobre nós</h3>
    </hgroup>
    <hr class="horizontal-bar"></hr>
  </main>
<%- include('partials/newsletter.ejs') %>
<%- include('partials/footer.ejs') %>