.sections-items .section-item, .sections-items .section-item a {
  float: left;
}

.sections-items {
  width: 100%;
}

.sections-items .section-item {
  border-radius: 0 7px 0 7px;
  margin-right: 20px;
  background-color: #130400;
}

.sections-items .section-item:hover > a {
  text-decoration: underline;
}

.sections-items .section-item:last-child {
  margin-right: 0;
}

.sections-items .section-item a {
  width: 200px;
  padding: 50px 0;
  line-height: 100%;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  color: #ce2e3c;
}
