.hr-div-horizontal {
  height: 4px;
  background-color: #e6e6e6;
  border-radius: 7px;
  width: 50%;
  display: inline-table;
}

/* HOME */

.table-cargos, .table-setores, .form-opcao .input-cargo {
  float: left;
}

.sections-items, .sections-items .section-item, .table-cargos, .table-setores, .sections-items .section-item, 
.sections-items .section-item a {
  width: 100%;
}

.sections-items .section-item {
  margin-bottom: 20px;
}

.sections-items .section-item a {
  font-size: 1.5em;
  padding: 50px 0;
  text-align: center;
  color: #ce2e3c;
  display: inline-block;
  background-color: #130400;
  border-radius: 7px 0 7px 0;
}

.sections-items .section-item:last-child {
  margin-bottom: 0px;
}

/* CLIENTES */

.btn {
  padding: 7px 14px;
  color: #fff;
  border-radius: 0 7px 0 7px;
  font-weight: 500;
}

.btn-add {
  background-color: #00b33c;
}

.principal table {
  width: 100%;
  border-collapse: collapse;
}

thead tr th, tbody tr td {
  padding: 10px 20px;
  border: none;
}

thead tr th, .cliente-info, .servico-info, .funcionario-info {
  font-weight: 700;
}

tbody tr td {
  font-weight: 500;
}

tbody tr:hover {
  background-color: #f2f2f2;
}

.table-email, .table-cargo, .table-celular, .table-responsaveis, .table-categoria, .table-autor, .table-contratante {
  display: none;
}

.table-nome, .table-cargo, .table-categoria, .table-autor, .table-contratante, .lbl-func-cargo {
  text-transform: capitalize;
}

table tr td .btn-table-acao {
  padding: 6px;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
}

table tr td .btn-editar-registro {
  color: #cccc00;
  border-color: #cccc00;
}

table tr td .btn-deletar-registro {
  color: #ff3333;
  border-color: #ff3333;
}

table tr td .btn-info-registro {
  color: #0066ff;
  border-color: #0066ff;
}

.btn-editar-registro, .btn-deletar-registro, .btn-info-registro {
  float: left;
  margin-right: 5px;
  background-color: #fff;
}

table tr td .btn-expandir-acoes {
  color: #fff;
  border-color: #0066ff;
  background-color: #0066ff;
  float: right;
  position: relative;
}

table td ul {
  display: none;
  position: absolute;
  left: 50%;
  width: 120px;
}

/* Cliente: informações */

.cliente-info p, .servico-info p, .funcionario-info p {
  margin-bottom: 20px;
}

.btn-info {
  background-color: #0099ff;
}

.cliente-info .btn-info, .servico-info .btn-info, .funcionario-info .btn-info {
  float: right;
}

/* Cliente: novo cliente */

.form-cadastro {
  width: 100%;
  margin: 0 auto;
}

.form-cadastro .btn-right {
  float: right;
}

.form-cadastro textarea {
  resize: none;
}

.form-cadastro input, .form-cadastro textarea, .form-cadastro select {
  border: rgb(133,133,133) solid 1px;
  padding: 7px 14px;
  width: 100%;
  margin-bottom: 10px;
}

.btn-edit {
  background-color: #e6e600;
  color: #000;
}

/* SERVIÇOS */

.ul-responsaveis li {
  list-style: initial;
  list-style-position: inside;
  text-align: left;
}

.servico-info ul {
  margin-bottom: 20px;
}

/* SERVIÇOS: Responsáveis */

.div-responsaveis label {
  float: left;
  width: 100%;
}

.div-responsaveis input {
  width: 10px;
}

/* FUNCIONÁRIOS */

.table-setores caption h4, .table-cargos caption h4, .artigos-opcoes .table-artigos-categorias h4 {
  text-align: left;
  font-size: 1.2em;
  font-weight: 700;
}

.form-opcao input {
  border-color: #00b33c;
  border-bottom: none;
  border-radius: 7px 7px 0 0;
  margin: 0;
}

.form-opcao button {
  border-radius: 0 0 7px 7px;
  width: 100%;
}

#setor .hr-div-horizontal, #cargo .hr-div-horizontal {
  margin: 20px 25%;
}

.form-opcao .input-cargo, .form-opcao .input-salario {
  width: 50%;
}

.form-opcao .input-cargo input {
  border-radius: 7px 0 0 0;
  border-right: none;
}

.form-opcao .input-salario {
  float: right;
}

.form-opcao .input-cargo p, .form-opcao .input-salario p {
  height: 20px;
}

.form-opcao .input-salario input {
  border-radius: 0 7px 0 0;
}

.opcoes-funcionario input {
  width: 0;
}

.opcoes-funcionario label {
  padding: 5px 10px;
  color: #fff;
  background-color: #ce2e3c;
  float: left;
  cursor: pointer;
  font-weight: 700;
}

.opcoes-funcionario label:nth-child(1) {
  border-radius: 7px 0 0 7px;
  border: #ce2e3c solid 2px;
  border-right: 0;
  color: #ce2e3c;
  background-color: #fff;
}

.opcoes-funcionario label:nth-child(2) {
  border-radius: 0 7px 7px 0;
  border: #ce2e3c solid 2px;
}

.opcoes-funcionario {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

/* ARTIGOS: Nova categoria */

.artigos-opcoes, .artigos-opcoes .form-categoria, .artigo-opcoes .form-categoria .entrada, .form-categoria .entrada button {
  float: left;
  width: 100%;
}

.form-categoria .entrada input, .form-categoria .entrada button {
  margin: 0;
}

.form-categoria .entrada input {
  border: #00b33c solid 1px;
  border-radius: 7px 7px 0 0;
  border-bottom: none;
}

.form-categoria .entrada button {
  border-radius: 0 0 7px 7px;
}

.artigos-opcoes .hr-div-horizontal {
  margin: 20px 25%;
}

@media screen and (min-width: 768px) {

  /* HOME */

  .sections-items .section-item {
    margin-right: 1%;
    float: left;
    width: 49%;
  }

  /* CLIENTES */

  table tr td .btn-expandir-acoes {
    display: none;
    float: none;
    position: initial;
  }

  table td ul {
    display: block;
    position: initial;
    margin: 0 auto;
  }

  table tbody td {
    text-align: center;
  }

  .table-email, .table-celular, .table-responsaveis, .table-categoria, .table-contratante {
    display: table-cell;
  }

  /* Cliente: novo cliente */

  .form-cadastro {
    width: 75%;
  }

  /* FUNCIONÁRIOS */

  .form-opcao .entrada label, .form-categoria .entrada label {
    width: 100%;
  }

  .form-opcao .entrada input, .form-categoria .entrada input {
    border-bottom: #00b33c solid 1px;
    border-radius: 7px 0 0 7px;
    float: left;
    border-right: none;
    width: 75%;
  }

  .form-opcao .entrada button, .form-categoria .entrada button {
    border: #00b33c solid 1px;
    padding: 7px 14px;
    border-radius: 0 7px 7px 0;
    float: right;
    width: 25%;
  }

  /* ARTIGOS: Nova categoria */

  .artigos-opcoes .form-categoria {
    float: none;
    margin: 0 auto;
    width: 50%;
  }
}

@media screen and (min-width: 960px) {

  .sections-items .section-item {
    margin-right: 1%;
    float: left;
    width: 24%;
  }

  .sections-items .section-item:last-child {
    margin-right: 0;
  }

  .table-cargo, .table-autor {
    display: table-cell;
  }

  /* Cliente: novo cliente */

  .form-cadastro {
    width: 50%;
  }
}