/* HOME */

.sections-items .section-item, .sections-items .section-item a {
  float: left;
}

.sections-items {
  width: 100%;
}

.sections-items .section-item {
  border-radius: 0 7px 0 7px;
  margin-right: 20px;
  background-color: #130400;
}

.sections-items .section-item:hover > a {
  text-decoration: underline;
}

.sections-items .section-item:last-child {
  margin-right: 0;
}

.sections-items .section-item a {
  width: 200px;
  padding: 50px 0;
  line-height: 100%;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  color: #ce2e3c;
}

/* CLIENTES */

.btn {
  padding: 5px 10px;
  color: #fff;
  border-radius: 0 7px 0 7px;
  font-weight: 500;
}

.btn-add {
  background-color: #00b33c;
}

.principal table {
  width: 100%;
  border-collapse: collapse;
}

thead tr th, tbody tr td {
  padding: 10px 20px;
  border: none;
}

thead tr th {
  font-weight: 700;
}

tbody tr td {
  font-weight: 500;
}

tbody tr:hover {
  background-color: #f2f2f2;
}

.table-email, .table-cargo, .table-telefone {
  display: none;
}

table tr td .btn-table-acao {
  padding: 6px;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
}

table tr td .btn-editar-registro {
  color: #cccc00;
  border-color: #cccc00;
}

table tr td .btn-deletar-registro {
  color: #ff3333;
  border-color: #ff3333;
}

table tr td .btn-info-registro {
  color: #0066ff;
  border-color: #0066ff;
}

.btn-editar-registro, .btn-deletar-registro, .btn-info-registro {
  float: left;
  margin-right: 5px;
  background-color: #fff;
}

table tr td .btn-expandir-acoes {
  color: #fff;
  border-color: #0066ff;
  background-color: #0066ff;
  float: right;
  position: relative;
}

table td ul {
  display: none;
  position: absolute;
  left: 50%;
  width: 120px;
}

/* Cliente: novo cliente */

.form-cadastro {
  width: 100%;
  margin: 0 auto;
}

.form-cadastro .btn-right {
  float: right;
}

.form-cadastro textarea {
  resize: none;
}

.form-cadastro input, .form-cadastro textarea {
  border: rgb(133,133,133) solid 1px;
  padding: 7px 14px;
  width: 100%;
  margin-bottom: 10px;
}

.btn-edit {
  background-color: #e6e600;
  color: #000;
}

@media screen and (min-width: 768px) {

  /* CLIENTES */

  table tr td .btn-expandir-acoes {
    display: none;
    float: none;
    position: initial;
  }

  table td ul {
    display: block;
    position: initial;
    margin: 0 auto;
  }

  table tbody td {
    text-align: center;
  }

  .table-email, .table-telefone {
    display: table-cell;
  }

  /* Cliente: novo cliente */

  .form-cadastro {
    width: 75%;
  }
}

@media screen and (min-width: 960px) {

  .table-cargo {
    display: table-cell;
  }

  /* Cliente: novo cliente */

  .form-cadastro {
    width: 50%;
  }
}