<%- include('../../partials/admin/header.ejs') %>
<main class="principal container">
  <hgroup>
    <h2>Cliente</h2>
    <h3>Informações do cliente</h3>
  </hgroup>
  <hr class="horizontal-bar">
  <article class="cliente-info">
    Nome:
    <p>Nome do Cliente</p>

    Data de nascimento/Criação:
    <p>Data</p>

    Email:
    <p>Email do cliente</p>

    Telefone:
    <p>Telefone do cliente</p>

    Celular:
    <p>Celular do cliente</p>

    Localização/Cidade:
    <p>Localização/Cidade do cliente</p>

    Endereço:
    <p>Endereço do cliente</p>

    Informações adicionais:
    <p>Informações adicionais do cliente</p>

    CPF/CNPJ:
    <p>CPF/CNPJ do cliente</p>

    Contrato assinado:
    <input type="file" name="iptContrato">

    <a href="/admin/clientes" class="btn btn-info btn-right">Voltar</a>
  </article>
</main>
<%- include('../../partials/admin/footer.ejs') %>