<%- include('../../partials/admin/header.ejs') %>
<main class="principal container">
  <hgroup>
    <h2>Contratação</h2>
    <h3>Informações da contratação</h3>
  </hgroup>
  <hr class="horizontal-bar">
  <article class="funcionario-info">
    Data da contratação:
    <p>Data</p>

    Contratante:
    <p>Quem contratou o serviço?</p>

    Serviço:
    <p>Que serviço foi contratado?</p>

    Status:
    <p>Status da contratação.</p>

    Contrato assinado:
    <p>Contrato assinado...</p>

    <a href="/admin/contratacoes" class="btn btn-info btn-right">Voltar</a>
  </article>
</main>
<%- include('../../partials/admin/footer.ejs') %>