<%- include('../../partials/admin/header.ejs') %>
<main class="principal container">
  <hgroup>
    <h2>Serviço</h2>
    <h3>Informações do serviço</h3>
</hgroup>
<hr class="horizontal-bar">
<article class="servico-info">
    Serviço:
    <p>Nome do serviço</p>

    Responsáveis:
    <ul class="ul-responsaveis">
      <li>Tobias de Oliveira</li>
      <li>Dinorá de Oliveira</li>
      <li>Josias Cruz</li>
      <li>Doralice Cruz</li>
    </ul>

    Informações adicionais:
    <p>Informações adicionais do serviço.</p>

    Contrato do serviço:
    <p>Arquivo de contrato.</p>

    <a href="/admin/clientes" class="btn btn-info btn-right">Voltar</a>
</article>
</main>
<%- include('../../partials/admin/footer.ejs') %>