<%- include('../../partials/admin/header.ejs') %>
<main class="principal container">
  <hgroup>
    <h2>Cadastrar</h2>
    <h3>Cadastrar novo serviço</h3>
  </hgroup>
  <hr class="horizontal-bar">
  <form class="form-cadastro" method="POST" action="/admin/cliente/salvarNovo" onsubmit="desmascarar(event, this)">
    <label>Serviço:</label>
    <input type="text" name="iptNome" class="br-7" placeholder="Nome do serviço">

    <label>Responsáveis:</label>
    <div class="div-responsaveis">
      <label>
        <input type="checkbox" name="iptResponsavel" value="0"> Tobias de Oliveira
      </label>
      <label>
        <input type="checkbox" name="iptResponsavel" value="0"> Josias Cruz
      </label>
      <label>
        <input type="checkbox" name="iptResponsavel" value="0"> Doralice Cruz
      </label>
      <label>
        <input type="checkbox" name="iptResponsavel" value="0"> Dinorá de Oliveira
      </label>
    </div>

    <label>Informações adicionais:</label>
    <textarea class="br-7" rows="10" name="iptInformacoes"></textarea>

    <label>Contrato do serviço:</label>
    <input type="file" name="iptContrato" class="br-7">

    <button type="submit" class="btn btn-add btn-right">Cadastrar</button>
  </form>
</main>
<%- include('../../partials/admin/footer.ejs') %>