<footer class="rodape container bg-gradient text-center">
    <p class="copyright">
      Copyright &copy; NodeProp 2021. Todos os direitos reservados.
    </p>
  </footer>

  <!-- SCRIPTS -->
  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-1.12.0.js" integrity="sha256-yFU3rK1y8NfUCd/B4tLapZAy9x0pZCqLZLmFL3AWb7s=" crossorigin="anonymous"></script>
  <script>
    // Mostra o menu quando o botão btn-menu é clicado
    $(".btn-menu").click(function () {
      $(".menu").show()
      $(".btn-table-acao").css('position', 'initial')
      $(".tox-tinymce").css('display', 'none')
    })

    // Esconde o menu quando o botão btn-close é clicado
    $(".btn-close").click(function() {
      $(".menu").hide()
      $(".btn-table-acao").css('position', 'relative')
      $(".tox-tinymce").css('display', 'block')
    })
  </script>
</body>
</html>