<nav class="menu">
  <button class="btn-close cabecalho-buttons"><i class="fas fa-times fa-lg"></i></button>
  <ul class="text-center">
    <li><a href="/admin" class="color-white">Home</a></li>
    <li><a href="/admin/clientes" class="color-white">Clientes</a></li>
    <li><a href="/admin/servicos" class="color-white">Serviços</a></li>
    <li><a href="/admin/funcionarios" class="color-white">Funcionários</a></li>
    <li><a href="/admin/artigos" class="color-white">Artigos</a></li>
  </ul>
</nav>