<%- include('../../partials/admin/header.ejs') %>
<main class="principal container">
  <hgroup>
    <h2>Artigos</h2>
    <h3>Informações do artigo</h3>
  </hgroup>
  <hr class="horizontal-bar">
  <article class="funcionario-info">
    Data da publicação:
    <p>Data da publicação.</p>

    Título:
    <p>Título do artigo.</p>

    Categoria:
    <p>Categoria do artigo.</p>

    Autor:
    <p>Nome do autor do artigo.</p>

    Artigo:
    <article>Artigo aqui...</article>

    <a href="/admin/artigos" class="btn btn-info btn-right">Voltar</a>
  </article>
</main>
<%- include('../../partials/admin/footer.ejs') %>